/* Navbar horizontal */
.navbar {
    display: flex;              /* 🔥 clave para horizontal */
    justify-content: space-between;
    align-items: center;
    background-color: #ff4d6d;
    padding: 15px 30px;
    color: white;
}

/* Logo */
.logo {
    font-size: 22px;
    font-weight: bold;
}

/* Menú horizontal */
.nav-links {
    list-style: none;
    display: flex;              /* 🔥 hace que los li estén en fila */
    gap: 25px;                  /* espacio entre elementos */
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

/* Links */
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

/* Hover bonito */
.nav-links a:hover {
    color: black;
}

.polo {
    background: white;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    width: 200px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.polo:hover {
    transform: translateY(-5px);
}

.polo img {
    width: 100%;
    border-radius: 10px;
}

.precio {
    color: #ff4d6d;
    font-weight: bold;
}

/* Banner superior */
.header-logo img {
    width: 100%;        /* 🔥 ocupa todo el ancho */
    height: 200px;      /* ajusta altura */
    object-fit: contain;  /* evita deformación */
    display: block;
}